{% extends "form.html" %}
{% block title %}Нелинейные алгебраические уравнения{% endblock %}
{% block input %}
    <input type="text" name="function" id="function" size=40
    placeholder="Введите функцию: x**2 + sin(x)"
    value="{{ params['function'] if params['function'] }}" /> 
    <input type="text" name="range" id="range" size=20
    placeholder="Интервал: -10 10" value="{{ params['range'] if params['range'] }}" />
    <input type="text" name="e" id="e" size=12 placeholder="Погрешность" 
    value="{{ params['e'] if params['e'] else "0.001" }}" />
    <select id="task_list" name="task_list">
        <optgroup label="Интервальные методы">
            <option value="half_del">Метод половинного деления</option>
        </optgroup>
        <optgroup label="Методы уточнения решения">
            <option value="simple_iter">Метод простых итераций</option>
        </optgroup>
    </select>
{% endblock %}
