@font-face{
    font-family: FoglihtenNo06,Roboto;
    src: url("{{ url_for('static', filename='font/FoglihtenNo06.ttf') }}");
    src: url("{{ url_for('static', filename='font/Roboto-Regular.ttf') }}");

}
body{
    margin: 0;

    font-family: FoglihtenNo06,Roboto-Regular;
    color: #000000;
}
/*CONTAINER*/
.container{
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1330px;
    margin:0 auto; 
}
/*HEADER*/

.header{
    position: absolute;
    align-items: center;

}

.header_inner{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 54px 0;

}

.search{

    width: 174px;

}
.search .search_box{
    text-align: center;
    margin:0 auto;
    position: relative;
    width: 174px;
    height: 28px;

}
.input{
    
    border:0;
    outline: none;
    font-family: FoglihtenNo06;
    font-size: 14px;
    color:#000;
    box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2);
}
.search .search_box .input{

    top:0;
    left:5px;
    width: 180px;
    height: 100%

}
.search .search_box .btn{
    position: absolute;
    top:5px;
    right:0px;
    height: 26;

}
.header1{
    width: 100%;
    max-width: 1330px;
    margin:0 auto; 
    display: flex;
    
}
.banner{
    position: static;
    

    max-width: 440px;
    margin:0px 0px 0px 0px; 
    

}
.search_box .text{

    padding-bottom:5px;

}
.w{
    margin:0 ;
    font-family: FoglihtenNo06;
    font-size:140px;    
}
.v{
    margin-top: -20px;
    margin-left: 15px;
}

.menu{
    height: 300px;
    margin-left: 150px;
    margin-top:110px;
    

}
.menu a{
    text-decoration:none;
}
.menu li{
    list-style: none;
}
.menu_list{
    width: 840px;
    margin:0;
    display: flex;


}
.menu_list>li{
    width: 350px;


    font-size: 45px;
    
    

}
.menu_list>li:hover .sub_list{
    display: flex;
}

.menu_link{
    text-transform: uppercase;
    justify-content: space-around;
    color: #000;
}

.sub_list{
    background-color: #fff;
    font-family: sans-serif;

    margin-right: 300px;
    font-size: 15px;
    display: none;
    margin-top:20px;
    margin-left: -40px;

}
.sub_link{

    color: #000;
}
.sub_list li{

    min-width:250px;
}
.sub-sub_link{
    color: #000;
}

.sub-sub_list li{
    margin-top:5px;
    margin-left: -15px;

}



.articles{
    position: relative;
    display: inline-block;
    height: 670px;
    width: 100%;
    max-width: 1330px;
    margin:45px 0px 45px 0px; 
}

.articles .img{
    margin-left: 600px;

    height: 620px;
    width: 678px;
}
.articles .text{
    position: absolute;
}
.articles .title{
    font-size: 70px;

    width: 678px;
    margin-left: 350px;

    margin-bottom: 5px;
}


.text .about{
    font-family: sans-serif;
    margin-top: 0px;
    margin-left: 480px;
    margin-right:1000px;
    height: 250px;
    width: 180px;
}
.articles .link{
    color:#000;

}
.slider{

    width: 100%;
    max-width: 950px;
    margin:0 auto;
    height: 760px;;

    display: flex;
    overflow-x: auto;


}
.slider::-webkit-scrollbar{
    width: 0;
}


.slider .articles{
    position: relative;
    display: inline-block;
    height: 670px;
    width: 100%;
    max-width: 1330px;
    margin:30px 0px 30px 0px; 

}

.slider1{
    position: relative;
    width: 100%;
    max-width: 950px;
    margin:0 auto;
    height: 600px;
    background-color: #000;
    border:1px solid #000;
    display: flex;
    overflow-x:auto;
}
.slider1::-webkit-scrollbar{
    width: 0;
}


.slider1 .item{

    color: #fff;
    min-width: 310px;
    height: 600px;
    line-height: 600px;
    text-align: center;
    max-height: 120px;

}






.footer{
    border-top: 1px solid #ccc;
    font-size: .8em;    
    text-align: center;
    padding: 10px 10px 30px 10px;
}