@font-face{
    font-family: 'FoglihtenNo06';
    src: url("{{ url_for('static', filename='font/FoglihtenNo06.otf') }}");

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'foglihtenNo06','roboto', sans-serif;
    color: #000000;
}
/*CONTAINER*/
.container{
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1330px;
    margin:0 auto; 
}
/*HEADER*/

.header{
    position: absolute;
    align-items: center;

}

.header_inner{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 54px 0;

}

.search{

    width: 174px;

}
.search .search_box{
    text-align: center;
    margin:0 auto;
    position: relative;
    width: 174px;
    height: 28px;

}
.input{
    
    border:0;
    outline: none;
    font-family: 'foglihtenNo06';
    font-size: 14px;
    color:#000;
    box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2);
}
.search .search_box .input{

    top:0;
    left:5px;
    width: 120px;
    height: 100%

}
.search .search_box .btn{
    position: absolute;
    top:5px;
    right:40px;
    height: 26;

}
.header1{
    width: 100%;
    max-width: 1330px;
    margin:0 auto; 
    display: flex;
    
}
.banner{
    position: static;
    

    max-width: 440px;
    margin:0px 0px 0px 0px; 
    

}
.search_box .text{

    padding-bottom:5px;

}
.w{
    margin:0 ;
    font-family: 'foglihtenNo06';
    font-size:140px;    
}
.v{
    margin-top: -20px;
    margin-left: 15px;
}

.menu{
    height: 250px;
    margin-left: 150px;
    margin-top:110px;
    width: 800px;
    
    

}
.menu:hover {
   box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2);

}

.menu a{
    text-decoration:none;
}
.menu li{
    list-style: none;
}
.menu_list{
    width: 840px;
    margin:0;
    display: flex;


}
.menu_list>li{
    width: 350px;


    font-size: 45px;
    
    

}
.menu_list>li:hover .sub_list{
    display: flex;
}


.menu_link{
    text-transform: uppercase;
    justify-content: space-around;
    color: #000;
}

.sub_list{
    background-color: #fff;
    font-family: 'roboto';

    margin-right: 300px;
    font-size: 15px;
    display: none;
    margin-top:20px;
    margin-left: -40px;

}
.sub_link{


    color: #000;
}
.sub_list li{

    min-width:250px;
}
.sub-sub_link{

    color: #000;
}

.sub-sub_list li{

    margin-top:5px;
    margin-left: -15px;

}



.articles{
    box-sizing: border-box;
    width: 100%;
    height: 800px;
    max-width: 1330px;
    margin:0 auto;
    margin-top:45px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.articles .img{
    margin-top: 60px;
    margin-left: 540PX;

    height: 670px;
    width: 728px;
}
.articles .text{
    position: absolute;
}
.articles .title{
    font-size: 70px;
    margin-left: 190px;

    width: 678px;


    margin-bottom: 55px;
}


.text .about{
    font-family: 'roboto';
    font-size: 15px;
    margin-top: -60px;
    margin-left: 360px;
 
    height: 250px;
    width: 240px;
}
.articles .link{
    color:#000;

}
.slider{

    width: 100%;
    max-width: 950px;
    margin:0 auto;
    
    height: 700px;

    display: flex;
    overflow-x: auto;


}
.slider::-webkit-scrollbar{
    width: 0;
}


.slider .articles{
    position: relative;
    display: inline-block;
    height: 670px;
    width: 100%;
    max-width: 1330px;
    margin:30px 0px 30px 0px; 

}

.slider1{
    position: relative;
    width: 100%;
    max-width: 1330px;
    margin:0 auto;
    height: 600px;
    background-color: #000;
    border:1px solid #000;
    display: flex;
    overflow-x:auto;
    margin-top:35px;
}
.slider1::-webkit-scrollbar{
    width: 0;
}


.slider1 .item{

    color: #fff;
    min-width: 445px;
    height: 600px;
    line-height: 600px;
    text-align: center;
    max-height: 120px;
    margin-bottom: 120px;
    text-decoration:none;


}

article{
    background-color: #fff;
    width: 100%;
    max-width: 950px;
    margin:0 auto;
    margin-bottom: 60px;


    
}

article:after, #main:after{
    clear:both;
    display:table;
    content:'';
}
article h2, main h2{
    font-size: 1.3em;
    margin-bottom:15px;
}
article p, main p{
    line-height: 150%;
    margin-bottom: 15px;
}





.footer{
    width: 100%;
    max-width: 360px;
    margin:0 auto;
    margin-top: 60px;
    border-top: 1px solid #000;
    font-size: .8em;    
    text-align: center;
    padding: 10px 10px 30px 10px;
}