{% extends "form.html" %}
{% block title %}Матрицы{% endblock %}
{% block input %}
    <p>
    <textarea name="matrix" id="matrix" rows=6 placeholder=
"1 2 3
1 2 3"

    width=100 height=100>{{ params['matrix'] if params['matrix'] }}</textarea>
    </p>
    <select id="task_list" name="task_list">
        <option value="mod">Модуль</option>
        <option value="sum">Сложение векторов</option>
        <option value="dif">Вычитание векторов</option>
        <option value="scalmult">Скалярное произведение</option>
        <option value="vecmult">Векторное произведение</option>
        <option value="mixmult">Смешанное произведение</option>

    </select>
{% endblock %}