<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet"  type="text/css">
       <title>{% block title %}VMW | Виртуальный Математический Практикум </title>{% endblock %}
        {% block scripts%}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                jax: ["input/TeX", "output/HTML-CSS"],
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    processEscapes: true
                },
                TeX: {
                    extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
                },
                "HTML-CSS": {
                    minScaleAdjust: 100
                },
                menuSettings: {
                    context: "MathJax",
                    zoom: "Hover",
                    ALT: true
                },
                MathZoom: {
                    delay: 100
                },
                extensions: ["tex2jax.js"]
            });
        {% endblock %}
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML-full"></script>
    </head>
    <body>
        <main>
            <header>
                <div class="container">
                    <div class="header_inner">
                        <div class="logo">
                            <img src="{{ url_for('static',filename='img/Group 2.png') }}">
                        </div>
                        
                        <div class="search">
                            <div class="search_box">
                                <div class="btn">
                                    <img src="{{ url_for('static',filename='img/search_box.png') }}">
                                </div>
                                <input type="text" class="input" placeholder="Поиск">
                            </div>
                            
                        </div>
                    </div>
                
                </div>
            </header>
            <div class="header1">
                <section class="banner">

                    <div class="text">
                        <p class="w">VMW</p>
                        <p class="v">ВИРТУАЛЬНЫЙ МАТЕМАТИЧЕСКИЙ ПРАКТИКУМ</p>
                    </div>
                
                </section>
                <nav class="menu">
                    <ul class="menu_list">
                        <li><a class="menu_link" href="{{ url_for('programs.index') }}">Программы</a>
                        <ul class="sub_list">
                            <li><a class="sub_link" href="{{ url_for('programs.comp_math.index') }}">Вычислительная математика</a>
                            <ul class="sub-sub_list">
                                <li><a class="sub-sub_link" href="{{ url_for('programs.comp_math.deriv')}}">Производные</a></li>
                                <li><a class="sub-sub_link" href="#">Нелинейные алгебраические 
                                уравнения</a></li>
                                <li><a class="sub-sub_link" href="#">Системы НАУ</a></li>
                                <li><a class="sub-sub_link" href="#">Интерполирование</a></li>
                                <li><a class="sub-sub_link" href="#">Дифференциальныеуравнения</a></li>
                                <li><a class="sub-sub_link" href="#">Многомерная оптимизация</a></li>
                            </ul>
                            </li>
                            <li><a class="sub_link" href="#">Дискретная математика</a>
                            <ul class="sub-sub_list">
                                <li><a class="sub-sub_link" href="#">Графы</a></li>
                                <li><a class="sub-sub_link" href="#">Множества</a></li>
                            </ul>
                            </li>
                            <li><a class="sub_link" href="#">Линейная алгебра</a>
                            <ul class="sub-sub_list">
                                <li><a class="sub-sub_link" href="#">Матрицы</a></li>
                                <li><a class="sub-sub_link" href="#">Вектора</a></li>
                                </ul>
                                </li>
                            </ul>
                            </li>
                            <li><a class="menu_link" href="{{ url_for('post.index') }}">Статьи</a>
                                    
                            </li>
                        </ul>
                        </li>
                    </ul>
                </nav>
            </div>

                    {% block text %}
                        <main>
                            <p>Main Text</p>
                        </main>
                    {% endblock %}

            <div class="footer">
                <footer>
                        <p>Contacts: <a href="https://github.com/dsuhoi">
                            https://github.com/dsuhoi</a></p>
                        <p>Copyright © DSuhoi, 2021</p>
                </footer>
            </div>
        </main>

    </body>
</html>
