{% extends "base.html" %}
{% block text %}
<article>
    <form method="get">
        <p>{% block input %}{% endblock %}
            <input type="submit" value="Решение"/>
        </p>
    </form>
    {% if error %}
    <p><b>Error:</b> {{ error }}</p>
    {% endif %}
{% block data %}
    {% if result %}
    <h2>Результат:</h2>
    <p>{{ result['text'] | safe }}</p>
        {% if result['iframe'] %}
            <div id='chart' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
              var graphs = {{result['graphJSON'] | safe}};
              Plotly.plot('chart',graphs,{});
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
</article>
{% endblock %}
