{% extends "base.html" %}
{% block scripts %}
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block sidebar1 %}
    <div id="sidebar1" class="aside">
    <h1>Дополнительная информация</h1>
    <p><b>Вычислительная математика</b> — раздел математики, включающий круг вопросов,
    связанных с производством разнообразных вычислений. В более узком понимании
    вычислительная математика — теория численных методов решения типовых
    математических задач.</p>
    <p>Современная вычислительная математика включает в круг
    своих проблем изучение особенностей вычисления с применением компьютеров.</p>
    </div>
{% endblock %}
    {% block sidebar2 %}
    <div id="sidebar2" class="aside">
    <p><img hspace = "10" vspace = "5" align=center width="150px" height="150px"
    src="https://assets.lls.fr/pages/6872525/MAT.2de.PP.NB.Gauss.png"
    alt="Ф. Гаусс" title="Ф. Гаусс"></p>
    <p><b>Иога́нн Карл Фри́дрих Га́усс</b> -  немецкий математик, механик, физик,
    астроном и геодезист. Считается одним из величайших математиков всех времён,
    <q>королём математиков</q>.</p>
    </div>
{% endblock %}
{% block text %}

<div class="articles">
    <div class="source">
        <div class="text">
            <p class="title">Численное решение дифференциальных уравнений</p>
                <div class="about">
                    <p>Дифференциальные уравнения делятся на две категории в зависимости от числа переменных:
                            обыкновенные
                            дифференциальные уравнения,
                            содержащие одну независимую переменную, и уравнения с частными
                            производными, содержащие несколько независимых переменных
                    </p>
                    <a class="link" href="#">Читать далее</a>
                </div>
        </div>
                <img class="img/Group 2.png" src="">
    </div>
</div>

<div class="slider1">
    <div class="item">Производные</div>
    <div class="item">Системы НАУ</div>
    <div class="item">множества</div>
    <div class="item">матрицы</div>
                
</div>



{% endblock %}
