{% extends "base.html" %}
{% block scripts %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block sidebar1 %}
    <div id="sidebar1" class="aside">
    <h1>Дополнительная информация</h1>
    <p><b>Вычислительная математика</b> — раздел математики, включающий круг вопросов,
    связанных с производством разнообразных вычислений. В более узком понимании
    вычислительная математика — теория численных методов решения типовых
    математических задач.</p>
    <p>Современная вычислительная математика включает в круг
    своих проблем изучение особенностей вычисления с применением компьютеров.</p>
    </div>
{% endblock %}
    {% block sidebar2 %}
    <div id="sidebar2" class="aside">
    <p><img hspace = "10" vspace = "5" align=center width="150px" height="150px"
    src="https://assets.lls.fr/pages/6872525/MAT.2de.PP.NB.Gauss.png"
    alt="Ф. Гаусс" title="Ф. Гаусс"></p>
    <p><b>Иога́нн Карл Фри́дрих Га́усс</b> -  немецкий математик, механик, физик,
    астроном и геодезист. Считается одним из величайших математиков всех времён,
    <q>королём математиков</q>.</p>
    </div>
{% endblock %}
{% block text %}
<article>
    <h2><q>Математика -- царица наук...</q></h2>
    <p>Главная страница (пока не придумал, что сюда поместить...)</p>
</article>
{% endblock %}
