{% extends "base.html" %}
{% block scripts %}
<script id="MathJax-script" async src="{{ url_for('static', filename='js/mathjax/tex-chtml.js') }}"></script>
{% endblock %}
{% block title %}Статьи{% endblock %}
{% block text %}
<article>
    <p><h2>Статьи</h2></p>
    <ul> {% for chapter in post_dict %}
    <li>
        <b>{{chapter}}</b>
        <ul> {% for post in post_dict[chapter] %}
            <li><a href="{{ url_for('post.page', post_id=post.id) }}">{{post.title}}</a></li>{% endfor %}
        </ul>
    </li> {% endfor %}
    </ul>
</article>
{% endblock %}
